@import "tailwindcss";
@import '@fontsource-variable/onest';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #1A1A1A;
    --color-secundary: oklch(0.765 0.177 163.223);
  }

  body {
    font-family: 'Onest Variable', sans-serif;
  }